a
  text-decoration: none

img
  display: inline

p
  display: inline
  margin-left: 10px

.profileInformation
  padding-top: 20px
  text-align: center

.profileImage
  position: relative
  width: 100px
  margin: 0 auto


.changeProfileImage
  width: 30px
  height: 30px
  border-radius: 50%
  position: relative
  right: -70px
  bottom: 35px
  background-color: #899194

  img
    max-width: 30px


.changeProfileNameWrapper
  min-width: 100px
  height: 30px
  display: flex
  justify-content: center

  .profileName
    text-align: center

  h3
    margin: 0

  img
    width: 20px
    height: 20px
    margin-left: 10px
    cursor: pointer

.profileEmail
  h4
    margin: 0
    text-align: center
    font-weight: 300

.buttonLogout
  display: flex
  width: 120px
  height: 40px
  border: 1px solid #ece3e3
  margin: 20px auto
  border-radius: 20px
  box-shadow: 5px 5px 2px rgba(58, 58, 59, 0.2)
  align-items: center

  a
    text-decoration: none

  img
    width: 15px
    height: 15px
    margin: 0 10px